*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  border: 15px solid #D0D0D0;
  color: white;
  font-family: 'Open Sans', sans-serif;

}

.topboxes {
  display: flex;
  flex-flow: row wrap;
  min-height: 600px;
  width: 60%;
}

.box {
  height: 33.33%;
  position: relative;
}

.square {
  width: 33.3333%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-transform: uppercase;
}

.box1 {
  width: 66.666%;
  background-color: #CAABB4;
  padding: 32px 20px;
}

h1 {
  text-transform: uppercase;
  padding-bottom: 14px;
}

.header-text {
  font-size: 11px;
  padding-bottom: 3px;
}

.header-icon {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  display: inline-block;
  padding-top: 2px;
  vertical-align: top;
}

.bordered-box {
  display: inline-block;
  border: 1px solid white;
  font-size: 12px;
  margin-top: 10px;
  padding: 9px;
  text-transform: uppercase;
}

figcaption {
  padding-bottom: 52px;
  font-size: 12px;
}

.box2 {
  background-color: #CEB9A8;
}

.box3 {
  background-color: #D9CACC;
}

.box4 {
  background-color: #B5B3A7;
}

.box5 {
  background-color: #7E6862;
}

.box6 {
  background-color: #616558;
}

.box7 {
  background-color: #A18D89;
}

.box8 {
  background-color: #CAB2A7;
}

.smallimg {
  width: 60px;
  height: 60px;
  display: block;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

.right-side {
  height: 100%;
  width: 40%;
  background-image: url(https://cottonon.com/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-typo/default/dwa6ccbee2/134763/134763-66-2.jpg?sw=400&sh=600&sm=fit);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dots {
  width: 100%;
  text-align: right;
  margin-right: 6px;
}

.dot {
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
}

.dot2 {
  opacity: 0.5;
}


.arrows {
  width: 40px;
  height: 40px;
}

.left {
  margin-left: 5px;
}

.right {
  margin-right: 5px;
}

@media screen and (max-width: 618px) {

.body {
  display: flex;
  flex-flow: column;
  width: 430px;
  height: 1600px;
  border: 15px solid #D0D0D0;
}

.topboxes {
  display: flex;
  width: 400px;
  height: 1030px;
  min-width: 400px;
}

.box1 {
  width: 400px;
  height: 200px;
}

.square {
  width: 200px;
  height: 200px;
}

.box8 {
  width: 400px;
}

.right-side {
  width: 100%;
  height: 600px;
}

}