*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  max-width: 1030px;
  height: 630px;
  border: 15px solid #D0D0D0;
  color: white;
/*  position: relative;*/
/*  left: 10%;*/
/*  margin-left: -515px;*/
  font-family: 'Open Sans', sans-serif;

}

.topboxes {
  display: flex;
  flex-flow: row wrap;
  min-height: 600px;
  min-width: 60%;
  
}

.box {
  height: 200px;
  position: relative;
}

.square {
  width: 33.3333%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-transform: uppercase;
}

.box1 {
  width: 66.666%;
  background-color: #CAABB4;
}

h1 {
  text-transform: uppercase;
}

.img-class {
  height: 600px;
  width: 40%;
}

figcaption {
  padding: 52px;
  font-size: 12px;
}

.box2 {
  background-color: #CEB9A8;
}

.box3 {
  background-color: #D9CACC;
}

.box4 {
  background-color: #B5B3A7;
}

.box5 {
  background-color: #7E6862;
}

.box6 {
  background-color: #616558;
}

.box7 {
  background-color: #A18D89;
}

.box8 {
  background-color: #CAB2A7;
}

.smallimg {
  width: 60px;
  height: 60px;
  display: block;
  padding-bottom: 5px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

/*.right-side {
  position: relative;
}

.navigation {
  z-index: 2;
}*/

@media screen and (max-width: 618px) {

.body {
  display: flex;
  flex-flow: column;
  width: 430px;
  height: 1600px;
  border: 15px solid #D0D0D0;
}

.topboxes {
  display: flex;
  width: 400px;
  height: 1030px;
  min-width: 400px;
}

.box1 {
  width: 400px;
}

.square {
  width: 200px;
}

.box8 {
  width: 400px;
}

}